awscli
beautifulsoup4
bokeh
colorcet
cryptography
datashader
feedparser
holoviews
ipdb
matplotlib
missingno
mock
nose
pandas_datareader
plotnine
psycopg2==2.8.4
pytz
requests
seaborn
sklearn
sqlalchemy
sshtunnel
tables
tqdm
xlrd
xlwt
